{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <main role="main">
        <section class="my-5 text-center">
            <div class="container">
                <h1>Europrofili Database</h1>
                <p class="lead text-muted">Portale web per la condivisione delle informazioni presenti in euroDB.
                    Avanzamento produzione pubblicato in tempo reale, grazie alla nuova APP eurostep 7.0</p>
                <p>
                    <a href="{{ path('eurostep_live') }}" class="btn btn-primary my-2">Go live!</a>
                </p>
            </div>
        </section>

    </main>
{% endblock %}
